---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
import Card from "@/components/astro/Card.astro";
import Pagination from "@/components/astro/Pagination.astro";
import { SITE } from "@/config";
import type { Page } from "astro/types";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;
---

<Layout title={`標籤: ${tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`標籤:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`所有帶有該 "${tagName}" 標籤的文章 .`}
  >
    <h1 slot="title" transition:name={tag}>{`標籤:${tag}`}</h1>
    <ul>
      {
        page.data.map(({ data, id }: { data: CollectionEntry<"blog">["data"]; id: string }) => (
          <Fragment>
            <Card id={id} collection="blog" data={data} url={`/posts/${id}/`} />
          </Fragment>
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
